@model _P__MVC.Models.PokemonInfo

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<div>
    <dl class="@Model.name Information">

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <img src="@Model.sprites.front_default" />

    </dl>
</div>
